<h1 style="color:darkblue;">Bienvenidos al servidor express - Comisi贸n 39760</h1> <br>
<h1>Vista de productos</h1> <br>

<div>
    <h1>Productos disponibles</h1>
    {{#each products}}
{{!--     <div>
        <h3>C贸digo: {{this.code}}</h3>
        <p>Nombre: {{this.title}}</p>
        <p>Descripci贸n: {{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Stock: ${{this.stock}}</p>
    </div> --}}

    <div class="card" style="width: 18rem;">
        <img src="{{this.thumbnail}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">Descripci贸n:  {{this.description}}</p>
            <p class="card-text">Precio:$ {{this.price}}</p>
            <button class="btn btn-primary" id=boton{{this.code}}>Comprar</button>
        </div>
    </div>

    {{/each}}
</div>

<button id="addProduct" class="btn btn-secondary"> Ir a Cargar Productos</button>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>